*.RData
*.Rhistory
/unit1/data_unit1_1/*
/unit1/data_unit1_2/*
/unit1/data_unit1_3/*
/unit2/data_unit2_1/*
/unit2/data_unit2_2/*
/unit2/data_unit2_3/*
/unit3/data_unit3_1/*
/unit3/data_unit3_2/*
/unit3/data_unit3_3/*
/unit4/data_unit4_1/*
/unit4/data_unit4_2/*
/unit4/data_unit4_3/*
/unit5/data_unit5_1/*
/unit5/data_unit5_2/*
/unit5/data_unit5_3/*
/unit6/data_unit6_1/*
/unit6/data_unit6_2/*
/unit6/data_unit6_3/*
/unit7/data_unit7_1/*
/unit7/data_unit7_2/*
/unit7/data_unit7_3/*
/kaggle/data/*
/kaggle/dataout/*
/exam/data_1/
/exam/data_2/
/exam/data_3/